node_modules/
dist/
.angular/
.vscode/
*.swp
*.swo
*~
.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
*.log
.idea/
*.iml
*.iws
*.ipr
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.project
.pydevproject
.ropeproject
